header nav#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 80px;
}

header nav#nav-bar .nav {
    display: flex;
    align-items: center;

    gap: 1rem;

}

header nav#nav-bar ul.nav-list{
    display: flex;
    align-items: center;

    list-style: none;
    gap: 1rem;
}

header nav#nav-bar ul.nav-list li a {
    color: #cccc;
    font-size: 1.2rem;
    transition: color 0.3s;
}

header nav#nav-bar ul.nav-list li a:hover{
    color: white
}